body {
	background-color: black;
	color: white;
	margin: 0;
}

h1 {
	background-color: green;
	margin: 0 auto;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 35px;
}

#info_bar {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 18px;
}

#game_image {
	display: block;
	max-width: 800px;
	max-height: auto;
	margin: 0 auto;
}

#result {
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;

	font-size: 25px;
	font-weight: bold;
}

#continue_click {
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	cursor: pointer;
}

#container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
	position: relative;
}

.option {
	border-radius: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: green;
	border-style: round;
	margin: 20px;

	text-align: center;
	font-size: 20px;
	line-height: 50px;
	width: 500px;
	height: 50px;
	cursor: pointer;
}
